<h4> Detalle del Usuario</h4>
<div>
    <div>
        <label> <b> ID: </b></label> {{user.id}}
    </div>
    <div>
        <label> <b> Nombre: </b></label> {{user.name}}
    </div>
    <div>
        <label> <b> Email: </b></label> {{user.email}}
    </div>
    <div>
        <label> <b> Edad: </b></label> {{user.age}}
    </div>
    <div>
        <label> <b> Idioma: </b></label> {{user.language}}
    </div>
    <p></p><p></p>
    <div>
        <button (click) = "redirectUserList()" class = "btn btn-info">Volver al listado</button>
    </div>
</div>
